/*--- COLOR VARIABLES ---*/
$green-color: rgb(5, 65, 68);
$dark-grey: rgb(29,37,40);
$light-grey: rgba(0,0,0, 0.5);
$light-green: rgba(134, 193, 191, 1);
$link-color: rgb(43, 43, 68);


/*--- FONT FAMILY VARIABLES ---*/
// $base-font:  'Montserrat', sans-serif;
$lato: 'Lato', sans-serif;
// $crazy-font: 'Kanit', sans-serif;


























