<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Irish Life | Travel | Work | Experience | Life Style</title>
    <meta name="description" content="Web-based travel guide for providing correct information how easily start living and working in Ireland">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merienda:wght@400;700&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/c8a0926547.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <script type="text/javascript"src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
</head>
<body>
<div class="blur"></div>
<nav class="container-fluid d-none d-md-block">
    <div class="row justify-content-center">
        <div class="col col-lg-10">
            <div class="row justify-content-center text-center">
                <div class="col text-center left">
                    <div class="row justify-content-center">
                        <a class="text-decoration-none  left-wrap border-right" href="{{ url_for('home')}}">HOME</a>
                        <a class="text-decoration-none  left-wrap border-right" href="{{ url_for('trip')}}">TRIP</a>
                        <a class="text-decoration-none  left-wrap border-right" href="{{ url_for('work')}}">WORK</a>
                        <a class="text-decoration-none  left-wrap " href="{{ url_for('life')}}">LIFE</a>
                    </div>
                </div>
                <div class="col-3 mt-4">
                    <a href="index.html"><img src="{{ url_for('static', filename='images/Logo.png')}}" width="100" alt="New Irish Logo"></a>
                </div>
                <div class="col right">
                    <div class="row justify-content-between">
                        <div class="col-7 text-left search-wrap">
                            <form onsubmit="return false;">
                                <span><i class="fas fa-search"></i></span>
                                <input type="search" id="search" placeholder="Search option in development" disabled>
                            </form>
                        </div>
                        <div class="col-4 text-right side-icons-wrap">
                            <a href="#" class="sing" data-toggle="modal" data-target="#sing-in"><i
                                    class="fas fa-user-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid d-md-none border-bottom">
    <div class="row justify-content-center mobile-nav-wrap">
        <div class="col-10 col-sm-6">
            <div class="row">
                <div class="col-12 mobile-nav-search p-0 pt-2">
                    <form onsubmit="return false;">
                        <input type="search" id="searchMobile" placeholder="Search option in development" disabled>
                        <a href="#"><i class="fas fa-arrow-circle-right"></i></a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-10">
            <div class="row justify-content-center">
                <div class="col-6 text-left mt-4">
                    <a href="index.html">
                        <img class="img-fluid" src="{{ url_for('static', filename='images/Logo.png')}}" width="60" alt="New Irish Logo">
                    </a>
                </div>
                <div class="col-6 text-right mt-4">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light nav-padding d-md-none">
    <div class="collapse navbar-collapse mt-4" id="navbarSupportedContent">
        <div class="nav-mobile">
            <div class="wrap">
                <a href="{{ url_for('home')}}" class="link">
                    <i class="fas fa-home icon"></i>
                    <span>Home</span>
                </a>
            </div>
            <div class="wrap">
                <a href="{{ url_for('trip')}}" class="link">
                    <i class="fas fa-plane-departure"></i>
                    <span>Trip</span>
                </a>
            </div>
            <div class="wrap">
                <a href="{{ url_for('work')}}" class="link">
                    <i class="fas fa-user-tie"></i>
                    <span>Work</span>
                </a>
            </div>
            <div class="wrap">
                <a href="{{ url_for('life')}}" class="link">
                    <i class="fas fa-hand-spock"></i>
                    <span>Life</span>
                </a>
            </div>
            <div class="wrap wrap--s">
                <a href="#" class="link" data-toggle="modal" data-target="#sing-in">
                    <i class="fas fa-user-plus"></i>
                    <span>Sing Up</span>
                </a>
            </div>
        </div>
    </div>
</nav>
<div class="modal fade" id="sing-in" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="sing-in" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content sing-in-modal">
            <div class="modal-body">
                <div class="btn-close">
                    <a href="#" class="close-x" data-dismiss="modal"><i class="fas fa-times"></i></a>
                </div>
                <div class="container-fluid p-0">
                    <div class="row justify-content-center text-center">
                        <div class="col-12 col-sm-6">
                            <h2>Create Account</h2>
                            <p>It's free and hardly takes more than 30 seconds.</p>
                            <div class="row">
                                <div class="col">
                                    <form onsubmit="return false;" class="text-center">
                                        <div class="row justify-content-center">
                                            <div class="col-10">
                                                <div class="input-group">
                                                    <span><i class="fas fa-user"></i></span>
                                                    <input type="text" id="username" placeholder="Username">
                                                </div>
                                            </div>
                                            <div class="col-10 mtt">
                                                <div class="input-group">
                                                    <span><i class="far fa-paper-plane"></i></span>
                                                    <input type="email" id="email" placeholder="Email Address">
                                                </div>
                                            </div>
                                            <div class="col-10 mtt">
                                                <div class="input-group">
                                                    <span><i class="fas fa-user-lock"></i></span>
                                                    <input type="password" id="password" placeholder="Password"
                                                        required>
                                                </div>
                                            </div>
                                            <div class="col-10 mtt">
                                                <div class="input-group">
                                                    <span><i class="fas fa-lock"></i></span>
                                                    <input type="password" id="password-c"
                                                        placeholder="Confirm Password" required>
                                                </div>
                                            </div>
                                            <div class="col-10 text-center mtt">
                                                <button type="submit" class="sub-button">SIGN UP</button>
                                            </div>
                                            <div class="col-10 text-center mtt">
                                                <p>By clicking the Sign Up button, you agree to our
                                                    <a href="https://www.privacypolicyonline.com/live.php?token=IMj9TW9eb3ChJcdsqhVgrUpg1siitImu"
                                                        target="_blank">Privacy Policy.</a>
                                                </p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="row">
                                <div class="col-12">
                                    <h2>Already and member!</h2>
                                    <p>Enter your login details:</p>
                                </div>
                                <div class="col-12">
                                    <form onsubmit="return false;" class="text-center">
                                        <div class="row justify-content-center">
                                            <div class="col-10">
                                                <div class="input-group">
                                                    <span><i class="fas fa-user"></i></span>
                                                    <input type="text" id="username-log"
                                                        placeholder="Username or Email">
                                                </div>
                                            </div>
                                            <div class="col-10 mtt">
                                                <div class="input-group">
                                                    <span><i class="fas fa-user-lock"></i></span>
                                                    <input type="password" id="password-log" placeholder="Password"
                                                        required>
                                                </div>
                                            </div>
                                            <div class="col-10 text-center mtt">
                                                <button type="submit" class="sub-button">LOGIN</button>
                                            </div>
                                            <div class="col-10 text-center mtt">
                                                <p><i class="fas fa-handshake"></i></p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% block content %}
    <!-- THIS FOR THE CONTENT-->
    {% endblock %}
<footer class="container-fluid">
    <div class="row justify-content-center">
        <div class="col">
            <div class="row justify-content-center footer-line">
                <div class="col-4 l"></div>
                <div class="col-2 g"></div>
                <div class="col-4 l"></div>
            </div>
        </div>
        <div class="col-12 text-center info">
            <ul class="link-wrap">
                <li class="r"><a class="text-decoration-none flex-link" href="index.html">HOME</a> </li>
                <li class="r"><a class="text-decoration-none flex-link" href="trip.html">TRIP</a></li>
                <li><a class="text-decoration-none flex-link" href="work.html">WORK</a></li>
                <li class="l"><a class="text-decoration-none flex-link " href="life.html">LIFE</a></li>
            </ul>
        </div>
        <div class="col-10 col-md-8 col-lg-7 text-center news">
            <h2>Get monthly updates and free resources!</h2>
            <form id="newsForm" class="form">
                <div class="row justify-content-center m-0">
                    <div class="col-12 col-sm-10 col-md-8 mt-input">
                        <div class="form-group">
                            <input type="text" placeholder="Enter your name *" id="newsName" />
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <small>Error message</small>
                        </div>
                    </div>
                    <div class="col-12 col-sm-10 col-md-8 mt-email-input">
                        <div class="form-group">
                            <input type="email" placeholder="Enter your email address *" id="newsEmail" />
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <small>Error message</small>
                        </div>
                    </div>
                    <div class="col-12 col-sm-10 col-md-8 ">
                        <div class="form-group">
                            <button id="newsSent" class="news-btn">Submit</button>
                            <h4 id="tnx" class="sub-success"></h4>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-10 col-md-8 col-lg-7">
            <div class="row justify-content-center social pb-4">
                <div class="col-12">
                    <h2 class="mission-h2  text-center">SHARE OUR MISSION</h2>
                </div>
                <div class="social-wrap">
                    <a href="https://www.instagram.com" class="social-link" target="_blank"><i
                            class="fab fa-instagram"></i></a>
                </div>
                <div class="social-wrap">
                    <a href="https://twitter.com/?lang=en" class="social-link" target="_blank"><i
                            class="fab fa-twitter"></i></a>
                </div>
                <div class="social-wrap">
                    <a href="https://www.facebook.com/" class="social-link" target="_blank"><i
                            class="fab fa-facebook-f"></i></a>
                </div>
                <div class="social-wrap">
                    <a href="https://www.pinterest.ie/" class="social-link" target="_blank"><i
                            class="fab fa-pinterest"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row justify-content-center ">
                <div class="col-12 col-sm-6 text-center copy-ts">
                    <p><strong>&#169; NewIrishLife 2020</strong> | All rights reserved</p>
                </div>
                <div class="col-12 col-sm-6 text-center copy-ts">
                    <p>Design by <a href="http://www.tomislavsokac.com/home"
                            target="_blank"><strong>www.tomislavsokac.com</strong></a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='libraries/scripts/emailjs.js') }}"></script>
<script src="{{ url_for('static', filename='libraries/bootstrap/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/cards.js') }}" ></script>
<script src="{{ url_for('static', filename='js/markerclusterer_compiled.js') }}"></script>
<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDadfKOCQK6Iu6tBeOXDAvZp5071lP8Us0&callback=initMap"></script>
<script src="{{ url_for('static', filename='js/maps.js') }}"></script>
<script src="{{ url_for('static',filename='js/emailnews.js') }}"></script> 
</body>
</html>